.promobanner {
    &.wrapped {
        overflow: hidden;
        width: 300%;
        margin-left:-100%;
        margin-right:-100%;
        .content {
            background:rgb(13, 137, 5);
            color: white;
            font-size: 16px;
            font-size: 16px;
            height: auto;
            padding: 2px;
            text-align: center;
            a {
                color:white;
            }
        }
    }
}